@charset "utf-8";
html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: beige;
}
p {
	margin: 0;
	padding: 0;
} 
#logo {
	display: flex;
	align-items: center;
	height: 60%;
	width: 50%;
	float:left;
}
#klein-logo-svg {
	display: block;
	margin: 0 auto;
	position: relative;
	height: 2in;
	top: -50px;
}
#construction {
	display: flex;
	align-items: center;
	height: 60%;
	width: 50%;
}
#llama-work {
	display: block;
	margin: 0 auto;
	position: relative;
	height: 3in;
	top: -50px;
}
#msg {
	height: 40%;
	text-align: center;
	padding: 0 15px;
	color: black;
	
}
#msg p {
	font: 300 30px "Roboto", Arial, sans-serif;
}
#msg p b {
	font: 700 30px "Roboto", Arial, sans-serif;
}