@charset "utf-8";
/**
 * CONTENTS
 *
 * #REFERENCES
 *  ##COLOR-REFERENCE...............Reference for brand colors
 *
 * #BASE
 *  ##BASIC-HTML
 *  ##GRID
 *
 * #HEADER
 *
 * #NAVIGATION
 *  ##MAIN-NAV-BTN
 *  ##MAIN-NAV
 *  ##DROPDOWN
 *  ##MAIN-NAV-RESPONSIVE
 *
 * #COMPONENTS
 *  ##SPLASH
 *  ##MOUNTAIN-BG
 *  ##HOVER-PANEL
 *  ##BUTTON
 *
 * #FOOTER
 */




/*------------------------------------*\
  #REFERENCES
\*------------------------------------*/




 
/*------------------------------------*\
  ##COLOR-REFERENCE
\*------------------------------------*/

/**
* ~ White ~
* #FFF
* rgb(255, 255, 255)
* 
* ~ Warm Sandy Tan ~
* #FFF4EB
* rgb(255, 244, 235)
* 
* ~ Warm Dark Grey ~
* #231F20
* rgb(35, 31, 32)
* 
* ~ Chichi Green ~
* #17994C
* rgb(23, 153, 76)
*
* ~ Dark Chichi Green ~
* #178C46
* rgb(23, 140, 70)
*
* ~ Turtle Top Orange ~
* #FFA733
* rgb(255, 167, 51)
*
*/




/*------------------------------------*\
  #BASE
\*------------------------------------*/





/*------------------------------------*\
  #BASIC-HTML
\*------------------------------------*/

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF4EB;
}
img {
  display: block;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-style:  normal;
  font-weight: 700;
  font-family: roboto, arial, sans-serif;
  padding: 0;
  display: block;
  width: 100%;
  text-align: center;
}
h2 {
  font-size: 40px;
  padding: 40px 0;
  color: #231F20;
}
h3 {
  padding: 20px 0;
  color: #463E40;
  font-size: 20px;
  font-weight: 300;
}
span, p, a {
  font-style:  normal;
  font-weight: 300;
  font-size:   18px;
  line-height: 24px;
  font-family: roboto, arial, sans-serif;
  color: #FFF;
  margin: 0;
  padding: 0;
  display: inline-block;
}
strong {
  font-weight: bold;
}
/*
  wiggle hover effect
  transform: rotate(1deg);
  transition: transform 0.2s;
}
strong:hover {
  transform: rotate(-2deg);
}*/




/*------------------------------------*\
  #GRID
\*------------------------------------*/

.row {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  z-index: -97;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row.content {
  background-color: #FFF;
}
.overflow {
  overflow: hidden;
}
[class*="col-"] { 
  float: left;
  padding: 0 20px 40px 20px;
  width: 100%;
}
@media (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }
}
@media (max-width: 768px) {
    .col-s-nopadding {
    padding: 0 0 40px 0;
  }
}
@media (min-width: 600px) { 
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media (min-width: 768px) { 
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
@media (min-width: 900px) { 
  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 33.33%;}
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-8 {width: 66.66%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}
}
@media (min-width: 1400px) { 
  .col-xl-1 {width: 8.33%;}
  .col-xl-2 {width: 16.66%;}
  .col-xl-3 {width: 25%;}
  .col-xl-4 {width: 33.33%;}
  .col-xl-5 {width: 41.66%;}
  .col-xl-6 {width: 50%;}
  .col-xl-7 {width: 58.33%;}
  .col-xl-8 {width: 66.66%;}
  .col-xl-9 {width: 75%;}
  .col-xl-10 {width: 83.33%;}
  .col-xl-11 {width: 91.66%;}
  .col-xl-12 {width: 100%;}
}





/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.top-bar {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  display: block;
  background-color: #17994C;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  z-index: 99;
  transition: top .4s;
}
  .top-bar.scroll {
    top: -75px;
  }
  .top-bar.scroll .logo-tag {
    top: -198px;
  }
  .top-bar.scroll .logo-tag {
    top: -198px;
  }
  .logo-tag {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 0 0 14px 14px;
    background-color: #FFF;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2);
    z-index: 1;
    top: 0;
    transition: top .5s;
    }
    .logo--large {
      display: none;
    }
    .logo--small {
      display: block;
      width: 50px;
      margin: 10px;
    }
@media (min-width: 768px) {
  .top-bar {
    height: 75px;
  }
    .logo-tag {
      width:  128px;
      height: 198px;
      border-radius: 0 0 16px 16px;
      background-color: #FFF;
      box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2);
    }
      .logo--large {
        display: block;
        width: 92px;
        margin: 18px;
      }
      .logo--small {
        display: none;
      }
}





/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/





/*------------------------------------*\
  ##MAIN-NAV-BTN
\*------------------------------------*/

.main-nav-btn {
  display: block;
  float: right;
  padding: 15px 0;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  line-height: 43px;
  height: 60px;
  border-width: 0;
  cursor: pointer;
  background-color: transparent;
}

  #main-nav-btn__icon {
    height: 30px;
    width: 30px;
  }

  #bar-1, #bar-2, #bar-3, #bar-4 {
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    transform-origin: 50% 50%;
  }

  #main-nav-btn__icon.open #bar-1 {
    opacity: 0;
    transform: translate(0, 45px) scale(.5,.5);

  }

  #main-nav-btn__icon.open #bar-4 {
    opacity: 0;
    transform: translate(0, -45px) scale(.5,.5);
  }

  #main-nav-btn__icon.open #bar-2 {
    transform: rotate(45deg);
  }

  #main-nav-btn__icon.open #bar-3 {
    transform: rotate(-45deg);
  }





/*------------------------------------*\
  ##MAIN-NAV
\*------------------------------------*/

.main-nav {
  display: none;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  background-color: #17994C;
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
}
.main-nav [aria-current=page] {
  border-bottom: 8px solid #FFA733;
}
  .main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
    .main-nav li {
      display: block;
    }
      .main-nav a {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        padding: 16px 28px;
        color: #FFF;
        text-decoration: none;
        line-height: 43px;
        height: 75px;
        border-bottom-width: 0;
        border-bottom-style: solid;
        border-bottom-color: #FFA733;
        transition: border-width .2s ease-out;
      }
      .main-nav a:hover,
      .main-nav a:focus {
        border-bottom-width: 8px;
      }
      .main-nav a:active {
        background-color: #FFA733;
        color: #231F20;
      }





/*------------------------------------*\
  ##DROPDOWN
\*------------------------------------*/

.nav-dropdown {
  overflow: hidden;
  float: none;
  display: block;
}
  .nav-dropdown ul {
    display: none;
    position: relative;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.0);
    top: 0;
    background-color: rgba(23, 153, 76, 1);
    min-width: 190px;
  }
    .nav-dropdown a {
      float: none;
      text-align: left;
      padding: 16px 32px;
    }





/*------------------------------------*\
  ##MAIN-NAV-RESPONSIVE
\*------------------------------------*/

@media screen and (min-width: 768px) {
  .main-nav-btn {
    display: none;/*!important*/
    float: right;
  }
  
  .main-nav {
    float: right;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.0);
    width: auto;
    margin-top: 0;
    overflow: visible;
    display: block!important;
    top: 0;
    position: relative;
  }
  
    .main-nav li {
      display: inline;
    }
    
      .main-nav a {
        float: left;
        text-align: center;
        width: auto;
      }
      
      
  .nav-dropdown {
    float: left;
  }
  
    .nav-dropdown > ul {
      position: absolute;
      box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
      top: 75px;
      overflow: hidden;
    }
    
      .nav-dropdown a {
        float: none;
        text-align: left;
        
      }
}




/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/





/*------------------------------------*\
  ##SPLASH
\*------------------------------------*/

.splash {
  position: relative;
  width: 100%;
  max-height: 2000px;
  background-color: #17994C;
  z-index: 1;
}

.splash__intro {
  display: table; /*was block */
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin-top: 60px;
  padding: 0 20px;
  transition: margin-top .2s;
}
    .splash__type--header {
      color: #FFF;
      font: normal 700 90px/90px roboto, arial, sans-serif;
      margin: 0;
      padding-top: 20px; /*was 20px, can be removed if style is kept */
      text-align: center; /*can be removed */
      width: 100%; /*can be removed */
    }
    .splash__type--content {
      padding-top: 16px;
      text-align: left; /*can be removed */
    }
  .splash__avatar { /*can be removed */
    display: none;
  }
    .splash__avatar img {
      border-radius: 50%;
      margin: 20px auto; /*was 40px auto */
      width: 100%;
      max-width: 150px; /*was 250px */
      height: auto;
    }

@media (min-width: 768px) {
  .splash__intro {
    margin-top: 198px;
    position: absolute;
    display: block;
  /*height: 402px; NOT NECESSARY*/
  }
    .splash__type {
      width: 65%;
      float: left;
      padding: 20px 16px 20px 0;
    }
      .splash__type--header {
        padding-top: 0; /*can be removed if style is kept*/
        text-align: left;  /*can be removed */
      }
    .splash__avatar {
      width: 35%;
      display: block;
      float: left;
      padding: 20px 0;
    }
      .splash__avatar img {
        margin: 0 auto;
        width: auto;
        height: 362px;
        max-width: 250px; /*can be removed */
      }
}




/*------------------------------------*\
  ##MOUNTAIN-BG
\*------------------------------------*/

.mtn-scene {
  width: 100%;
  overflow: visible;
  position: relative;
  z-index: -2;
  display: none;
  height: 600px;
}
  .mtn-scene__layer {
    width: 100%;
    height: 580px;
    position: absolute;
  }
  .mtn-scene__layer.mtn-center img {
    width: 200%;
    left: -35%;
    bottom: -35px;
  }
    .mtn-scene__layer img {
      position: absolute;
      padding: 0;
      margin: 0;
      bottom: 0;
      max-width: 1920px;
    }
@media (min-width: 768px) {
  .mtn-scene {
    display: block;
  }
}





/*------------------------------------*\
  ##HOVER-PANEL
\*------------------------------------*/

.hover-panel {
  height: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  z-index: 1;
}
  .hover-panel__unit {
    margin: 0;
    padding: 0;
    transition: transform .2s;
  }
    .hover-panel:hover .hover-panel__unit,
    .hover-panel:focus .hover-panel__unit {
      transform: translate(0px, -50px);
      transition: transform .4s;
    }
    .hover-panel__img {
      max-width: 100%;
      width: 100%;
      box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    }
    .hover-panel__unit > h3 {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
    }
      
  .hover-panel > span {
    position: absolute;
    bottom: 0;
    display: block;
    height: 50px;
    background-color: #17994C;
    line-height: 50px;
    z-index: -1;
    width: 100%;
    padding: 0 16px;
  }




  
/*------------------------------------*\
  ##BUTTON
\*------------------------------------*/
.btn {
  background-color: #FFA733;
  margin: 20px 0;
  display: block;
  text-align: center;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  
}
  .btn a {
    color: #231F20;
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
    line-height: 55px;
    width: 100%;
    position: relative;
    z-index: 1;
  }
.btn::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #FFF;
  position: absolute;
  transition: left .2s;
  left: -100%;
}
.btn:hover::before {
  left: 0%;
}
  .btn a:focus {
    color: #231F20;
    background-color: #FFF;
  }
  .btn:hover a{
    color: #231F20;
  }
  .btn a:active {
    color: #FFF;
    background-color: #231F20;
  }
@media (min-width: 768px) {
  .btn {
    display: inline-block;
    width: 200px;
  }
}



/*------------------------------------*\
  ##FOOTER
\*------------------------------------*/

.footer {
  width: 100%;
  max-height: 500px;
  display: block;
  background-color: #17994C;
  border-bottom: 16px solid #FFA733;
}
.footer [class*="col-"] {
  padding:20px;
}
  .footer__box a[title*="Double-A"]  {

  }
  .footer__box img[alt*="Double-A"] {

  }