<picture class="lazyload">
 <source
   media="(min-width: 900px)"
   srcset="{{ include.url | relative_url}}_lg-1x.webp 1x, {{ include.url | relative_url}}_lg-2x.webp 2x"
   type="image/webp" >
 <source
   media="(min-width: 601px)"
   srcset="{{ include.url | relative_url}}_md-1x.webp 1x, {{ include.url | relative_url}}_md-2x.webp 2x"
   type="image/webp" >
 <source
   srcset="{{ include.url | relative_url}}_sm-1x.webp 1x, {{ include.url | relative_url}}_sm-2x.webp 2x"
   type="image/webp" >
 <img 
   srcset="{{ include.url | relative_url}}_sm-1x.jpg 600w,
   {{ include.url | relative_url}}_md-1x.jpg 900w,
   {{ include.url | relative_url}}_lg-1x.jpg 1440w"
   src="{{ include.url | relative_url}}_lg-1x.jpg"
   type="image/jpeg"
   alt="{{ include.alt }}">
</picture>