---
layout: default
---
<main>
  <header class="header-img">
    {% capture image %}{{ page.image }}{% endcapture %}
    {% capture alt %}{{ page.alt }}{% endcapture %}
    {% include image.html url=image alt=alt vw="100w" %}
  </header>

  
  <article class="row  content  white">
    <section class="blog-header">
      <h1 class="blog-header__heading">{{ page.title }}</h1>
      <p class="blog-header__info">{{ page.date | date: "%b %-d, %Y" }} | <strong>{{page.read-time}} minute read</strong></p>
      <p class="blog-header__tags">Tags:
        {% for tag in page.tags %}
          <a class="tag" href="{{ site.baseurl }}/blog/tags#{{tag}}">{{ tag }}</a>
        {% endfor %}
      </p>
    </section>
    
    <div class="col-12  blog-content">
      {{ content }}
    </div>
  </article>
  
  <footer class="row  content  white">
    <div class="col-12">
      {% if page.comments %}
        <div id="disqus_thread"></div>
        <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://klein-visual.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      {% endif %}
    </div>
  </footer>
</main>