---
layout: default
---
<main class="row  content  white">
    <header class="blog-header  green">
      <h1 class="light">{{ page.title }}</h1>
    </header>

    {% for post in site.posts %}
     <div class="col-6">
        <a class="hover-panel  blog-panel" href="{{ site.baseurl }}{{ post.url }}">
          {% capture image %}{{ post.image}}{% endcapture %}
          {% capture alt %}{{ post.alt }}{% endcapture %}
          {% include image.html url=image alt=alt vw="100vw" %}
          <h2>{{ post.title }}</h2>
          <span class="center">
            <p>{{ post.date | date: "%b %-d, %Y" }} | <strong>{{post.read-time}} minute read</strong></p>
            <p>Tags: {% for tag in post.tags %} <span class="tag">{{ tag }}</span>{% endfor %}</p>
          </span>
        </a>
    </div>
    {% endfor %}

</main>
