---
layout: default
---
<main class="row  content  white">
  <header class="blog-header  green">
    <h1 class="light">{{ page.title }}</h1>
  </header>
  <article class="row  content  white">
    <div class="col-12  no-padding-heading">
      <object style="height: 250px" data="{{ "/img/llamas/llama-fancy.svg" | relative_url }}" type="image/svg+xml">An animated cartoon llama in a tuxedo shuffles apprehensively.</object>
      <h2>I see you're interested in my design services.</h2>
      <p>Unfortunately, I am not currently scheduling new client projects. But don't despair! I read all my emails, and if you're still interested in getting me on your team, just shoot me an line, tell me a little bit about your exciting new design project, and I'll get back with you when I'm available!</p>
      <ul>
          <li>Email: <a aria-label="Email Klein Visual" href="mailto:hi@kleinvisual.com">Hi@KleinVisual.com</a></li>
          <li>Phone: <a aria-label="Call Klein Visual" href="tel:4435935538">(443) 593-558</a></li>
          <li>Instagram: <a aria-label="Visit Klein Visual on Instagram" href="https://www.instagram.com/kleinvisual/" target="_blank">https://www.instagram.com/kleinvisual/</a></li>
          <li>YouTube: <a aria-label="Visit Klein Visual on YouTube" href="https://www.youtube.com/channel/UCt5qUGnBGI1bgmlbvDcKt1g" target="_blank">https://www.youtube.com/channel/UCt5qUGnBGI1bgmlbvDcKt1g</a></li>
          <li>GitHub: <a aria-label="Visit David Klein on GitHub" href="https://github.com/devjklein" target="_blank">https://github.com/devjklein</a></li>
    </div>
  </article>
</main>