---
layout: default
---
<main class="row  content  white">
  <header class="blog-header  green">
    <h1 class="light">{{page.title}}</h1>
  </header>
  <div class="col-12">
    <a class="hover-panel modal-image" href="#">
      {% capture image %}{{ page.image-original }}{% endcapture %}
      {% capture alt %}{{ page.alt }}{% endcapture %}
      {% include image.html url=image alt=alt vw="100vw"%}
      <div class="hover-panel__overlay    modal--open"><span class="light">View Full Size in Lightbox</span></div>
    </a>
  </div>
  <article class="col-12  image" >
    {{ content }}
  </article>
  <footer class="row  content  white">
    <div class="col-12">
      {% if page.comments %}
        <div id="disqus_thread"></div>
        <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://klein-visual.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      {% endif %}
    </div>
  </footer>
</main>





<div class="modal  row  center" id="modal">
  <div class="modal--container">
    <button class="modal--close">&times;</button>
    <img class="modal--content" src="" alt="">
  </div>
</div>